
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'SAFIRA MARCH';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
}

code {
  font-family: 'SAFIRA MARCH';
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #ffffff;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/* Selection color */
::selection {
  background: #ED2F85; /* or any of your palette pinks */
  color: #fff;         /* white text */
}
